<!-- Simples aplicação api usando o mongodb instalado via docker -->

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio
    body
    center Template Engine Pug o Melhor do melhor do mundo !
    center Neste projeto  não temos nenhum front-end mas vou deixar esse arquivo caso mude de ideia


